body {
    background-color: black;
    font-size: 40px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #38b6f1;
    border-left: 3px solid #38b6f1;
    padding-left: 2%;
}

li {
    list-style-type: none;
}

h3, li {
    text-shadow: 2px 2px 5px black;
}


h2 {
    margin-top: 0;
    overflow: hidden;
    text-align: center;
}

h2:before, h2:after {
    background-color: rgb(150,150,150);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h2:after {
    left: 0.5em;
    margin-right: -50%;
}

img {
    max-width:100%;
    height: auto;
}

nav ul {
    margin-top: 0;
    color: rgb(200,200,200);
    font-size: 0.75em;
    text-align: center;
    padding: 0;
}

nav ul li {
    margin: 0 auto;
    display: inline;
}

nav ul li a {
    color: rgb(200,200,200);
}

nav li a:hover {
    border-left: none;
    padding-left: 0;
}

.img-center {
    margin: 0 auto;
    max-width: 50%;
    display: block;
}

.cap-letter {
    text-transform: uppercase;
    font-size: 1.5em; 
}

.content {
    width: 500px;
    max-width:100%;
    height: auto;
    margin-left: 5%;
}

.main {
    background-image: url("../images/Link_Forest.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bio {    
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    font-size: 0.65em;
}
